:root.theme-light {
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);

  --menu-text-color: #353430;
  --menu-text-color-hover: rgba(53, 52, 48, 0.4);

  --decorated-frame-color: #353430;
  --rec-display: none;

  --hero-text-color: #ffc2e6;
  --hero-shadow-color: #ff8dcb;
  --hero-shadow-footer-color: #ff0070;

  --title-text-color: #353430;
  --main-text-color: #353430;

  --highlighted-text-color: #353430;
  --highlighted-background-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --background-image: url(../images/cover-image-light.png);

    --menu-text-color: #353430;
    --menu-text-color-hover: rgba(53, 52, 48, 0.4);

    --decorated-frame-color: #353430;
    --rec-display: none;

    --hero-text-color: #ffc2e6;
    --hero-shadow-color: #ff8dcb;
    --hero-shadow-footer-color: #ff0070;

    --title-text-color: #353430;
    --main-text-color: #353430;

    --highlighted-text-color: #353430;
    --highlighted-background-color: #ff8dcb;
  }
}
